<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Primary Meta Tags -->
    <title>BoozePedia.com</title>
    <meta name="title" content="BoozePedia.com">
    <meta name="description" content="Your Trusty Inventory Management System - Request a Free Demo!">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://boozepedia.com/%22%3E
    <meta property="og:title" content="BoozePedia.com">
    <meta property="og:description" content="Your Trusty Inventory Management System - Request a Free Demo!">
    <meta property="og:image" content="">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="http://boozepedia.com/%22%3E
    <meta property="twitter:title" content="BoozePedia.com">
    <meta property="twitter:description" content="Your Trusty Inventory Management System - Request a Free Demo!">
    <meta property="twitter:image" content="">

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Booze_pedia</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="icon" type="image/png" href="/img/favicon.ico" />
</head>
<body>
    <header>
        <nav class="navbar sticky-top navbar-expand-sm navbar-toggleable-sm navbar-dark bg-light border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Boozes" asp-action="Index">
                    <img src="~/img/Booze-Pedia-Logo.png" title="Booze-Pedia Logo" alt="Logo" />
                </a>
            </div>
            <div class="container">
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - BoozePedia
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
